extends layout

block content
    h2.form-signin-heading Productos
    h5  
        a(href="/") Home 
    br
    br
    table.table
                    thead
                        tr
                            th ID
                            th Nombre
                            th Precio
                            th Acciones
                    tbody
                        for item in data
                            tr
                                td= item._id
                                td= item.nombre
                                td= item.precio
                                td 
                                    a(href="/productos/edit/#{item._id}").btn.btn-large.btn-success Editar
                                    a(href="/productos/delete/#{item._id}").btn.btn-large.btn-danger Eliminar
    br
    h4.form-signin-heading Crear Productos
    br
    form.form-signin(method = "post",action="/productos/create")
                div.form-group
                    label(for='nombre') Nombre:
                    input#nombre.form-control(type="text" name="nombre",placeholder="Nombre")
                    label(for='precio') Precio:
                    input#precio.form-control(type="text" name="precio",placeholder="Precio")
                button.btn.btn-large.btn-success(type="submit") Crear Producto  